@namespace DLMSReader_Multiplatform.Shared


<Antiforgery />   @* vloží CSRF token do stránky *@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Stránka nenalezena.</p>
    </NotFound>
</Router>