@page "/"
@namespace DLMSReader_Multiplatform.ServerWebApp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DLMS Reader</title>
</head>
<body>
    <!-- Mount celého UI ze sdílené knihovny -->
    <component type="typeof(DLMSReader_Multiplatform.Shared.App)"
               render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
